<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="currentTeacher">
  <a class="navbar-brand" routerLink="/">Devalu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Αρχική <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="#" (click)="logout()">Αποσύνδεση <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



<!-- <app-top-header ></app-top-header> -->
<!-- <div class="container">
    <router-outlet></router-outlet>
  </div> -->
  
  <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted"><app-school></app-school></span>
    </div>
  </footer>
